# Multiple Linear

In [6]:
data = pd.read_csv('statup.csv',index_col=0)

In [7]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [8]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [9]:
data.State.value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [10]:
states = pd.get_dummies(X['State'],drop_first=True)

In [13]:
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [11]:
X = X.drop('State',axis=1)

In [14]:
X = pd.concat([X,states],axis=1)

In [15]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

- Y = m1(R & D) + m2(adm) + m3(Marketing) + m4(Florida) + m5(NewYork)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
reg = LinearRegression()

In [20]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
y_pred = reg.predict(X_test)

In [22]:
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

# R**2 

- R**2 = 1 - sum of residual/sum of mean


- sum of residual = 1/n * sum(y-y_pred) * 2


- sum of mean  = 1/n * sum(y-y_mean) * 2


- Rsquare valuecome between 0 and 1 ,usually we get more then 0.70

In [23]:
from sklearn.metrics import r2_score

In [24]:
score = r2_score(y_test,y_pred)

In [25]:
score

0.9347068473282423