# Basics of Python

In [1]:
a = 10 * 'H'

In [2]:
type(a)

str

In [3]:
type(True)

bool

## Variable Assigment

In [4]:
b = 10

In [5]:
type(b)

int

In [6]:
print("Hello")

Hello

## Format

In [7]:
a = 'AAyush'
b = 'Patidar'
print('name {} and surname {}'.format(a,b))

name AAyush and surname Patidar

In [8]:
print('name {first} and surname {last}'.format(last=b,first=a))

name AAyush and surname Patidar

## Len

In [9]:
len(a)

6

In [10]:
len(b)

7

## List 
Are Mutable
content any elemnt

In [11]:
c = []

In [12]:
len(c)

0

In [13]:
type(c)

list

In [14]:
d = list()

In [15]:
type(d)

list

## Append

In [16]:
d = [1,2,3,4,5]

In [17]:
type(d)

list

In [18]:
d.append('Aayush')

In [19]:
d

[1, 2, 3, 4, 5, 'Aayush']

In [20]:
d.append(['Harshit','Name']) #Nested list

In [21]:
d

[1, 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name']]

## Indexing

In [22]:
d[0]

1

In [23]:
d[4]

5

In [24]:
d[:]

[1, 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name']]

In [25]:
d[1:]

[2, 3, 4, 5, 'Aayush', ['Harshit', 'Name']]

In [26]:
d[2:5]

[3, 4, 5]

In [27]:
d[-1]

['Harshit', 'Name']

In [28]:
d[-5:-1]

[3, 4, 5, 'Aayush']

## insert

- here parameters are index number and value we want to assign

In [29]:
d.insert(1,'Smart')

In [30]:
d

[1, 'Smart', 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name']]

## Extend

- extend will add elments to list

In [31]:
d.extend([456,'Somakhedi'])

In [32]:
d

[1, 'Smart', 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name'], 456, 'Somakhedi']

## pop-count-min-max-sum

In [33]:
d.pop(-1)

'Somakhedi'

In [34]:
d

[1, 'Smart', 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name'], 456]

In [35]:
len(d)

9

In [36]:
d.count(1) #means 1 is present 1 time

1

In [37]:
d.insert(-1,'Smart')

In [38]:
d

[1, 'Smart', 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name'], 'Smart', 456]

In [39]:
d.count('Smart')

2

In [40]:
i = [1,58,69,7,56]

In [41]:
min(i)

1

In [42]:
max(i)

69

In [43]:
sum(i)

191

In [44]:
i*2 #it means i will double the elemnts

[1, 58, 69, 7, 56, 1, 58, 69, 7, 56]

## Sets
- iterable
- mutable
- no duplicate elemets
- this based on hash table
- ste dose not support indexing

In [45]:
q = set()

In [46]:
print(type(q))

<class 'set'>

In [47]:
q = {1,2,3,4,3,2,5,6,7,5}

In [48]:
q

{1, 2, 3, 4, 5, 6, 7}

In [49]:
q.add('aayush')

In [50]:
q

{1, 2, 3, 4, 5, 6, 7, 'aayush'}

## Dictionaries
- changeable
- indexed
- use {} 
- assign using key value pair
- if we give same key with another name it will overwrite it(just remember will see it)

In [51]:
dic= {}

In [52]:
print(type(dic))

<class 'dict'>

In [53]:
dic= {'Name':'Aayush','Surname':'Patidar','Age':22}

In [54]:
dic

{'Name': 'Aayush', 'Surname': 'Patidar', 'Age': 22}

In [55]:
dic.keys()

dict_keys(['Name', 'Surname', 'Age'])

In [56]:
dic.values()

dict_values(['Aayush', 'Patidar', 22])

 ## For loop

In [57]:
for i in dic:  
    print(i)

Name
Surname
Age

In [58]:
for i in dic.values():
    print(i)

Aayush
Patidar
22

In [59]:
for i in dic.items():
    print(i)

('Name', 'Aayush')
('Surname', 'Patidar')
('Age', 22)

In [60]:
# to add new key value pair
dic['place'] = 'Somakhedi'

In [61]:
dic

{'Name': 'Aayush', 'Surname': 'Patidar', 'Age': 22, 'place': 'Somakhedi'}

In [62]:
#if we take same value of key
dic['place'] = 'Pune'

In [63]:
dic

{'Name': 'Aayush', 'Surname': 'Patidar', 'Age': 22, 'place': 'Pune'}

## Neested Dictionary

In [64]:
dic1 = {'AAyush':'HArshit'}
dic2 = {'Patidar':'Pati'}
nested_dic = {'name':dic1,'Surname':dic2}

In [65]:
nested_dic

{'name': {'AAyush': 'HArshit'}, 'Surname': {'Patidar': 'Pati'}}

In [66]:
nested_dic['name']['AAyush']

'HArshit'

## Tuples
- cant change
- immutable
- () round 
- tuple assig. not change but hole tuple can be change
- we cant perform operation it we can only perform replacemnet

In [67]:
tup =tuple()

In [68]:
type(tup)

tuple

In [69]:
tup = ('AAyush','Harshit')

In [70]:
tup[0]

'AAyush'

In [72]:
tup = ('Patidar')

In [73]:
tup

'Patidar'

# Functions

In [74]:
n = 25

if n%2 == 0:
    print('Even')
else:
    print('odd')

odd

we will define it in function

In [75]:
def even_odd(n):
    if n%2 == 0:
        print('Even')
    else:
        print('odd')

In [76]:
even_odd(25)

odd

In [77]:
even_odd(24)

Even

In [78]:
# print vs return
def hello_print():
    print('Printing me you boy')

In [82]:
val=hello_print()

Printing me you boy

In [83]:
print(val)

None

In [84]:
def hello_return():
    return 'Printing me you boy'

In [85]:
val = hello_return()

In [86]:
print(val)

Printing me you boy

In [87]:
def hello(name,age=22):
    print('Name {} age {}'.format(name,age))

here first argumnent is postional second is keyword argumnent

In [88]:
hello('aayush')

Name aayush age 22

In [89]:
def hey(*args,**kwargs):
    print(args)
    print(kwargs) #will print key value pairs

In [90]:
hey('aayush','harshit',age=22,roll=456)

('aayush', 'harshit')
{'age': 22, 'roll': 456}

In [91]:
lst = ['aayush', 'harshit']
dict_ar = {'age': 22, 'roll': 456}

In [92]:
hey(*lst,**dict_ar)

('aayush', 'harshit')
{'age': 22, 'roll': 456}

In [93]:
l = [1,2,3,4,5,6,7,8,9]

In [94]:
def evenoddsum(l):
    even_sum = 0
    odd_sum = 0
    for i in l:
        if i%2==0:
            even_sum = even_sum+i
        else:
            odd_sum = odd_sum +i
    return even_sum,odd_sum

In [95]:
evenoddsum(l)

(20, 25)

# Lambda Function

- function with no name
- Work More faster 
- works well with single expression

In [96]:
add = lambda x,y: x+y

In [97]:
add(4,5)

9

In [98]:
even = lambda x : x%2==0

In [99]:
even(13)

False

# Map
- for multiple numbers
- first we give function
- iterable name

 help(map)

In [100]:
def even_odd(num):
    if num % 2 == 0 :
        return "Even Number {}".format(num)
    else:
        return "odd Number {}".format(num)

In [101]:
h = [1,2,5,8,6,88,96,52,45,44,656,125]

In [102]:
map(even_odd,h)

to intialize memorey we use list

In [103]:
list(map(even_odd,h))

['odd Number 1',
 'Even Number 2',
 'odd Number 5',
 'Even Number 8',
 'Even Number 6',
 'Even Number 88',
 'Even Number 96',
 'Even Number 52',
 'odd Number 45',
 'Even Number 44',
 'Even Number 656',
 'odd Number 125']

# Filter-
- it take function as first argumnet
- iterable

In [104]:
def even(num):
    if num%2==0:
        return True

In [105]:
j = [1,2,3,4,5,6,9,8,7,4,5,6,21,3,5,2,4,5]

In [106]:
filter(even,lst)

In [107]:
list(filter(even,j))

[2, 4, 6, 8, 4, 6, 2, 4]

In [108]:
list(filter(lambda num : num % 2==0,j))

[2, 4, 6, 8, 4, 6, 2, 4]

In [109]:
list(map(lambda num : num % 2==0,j))

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 False]

# List Comprehension

- provide a consive way to create list
- consist of bracket
- folowed by for clause
- then zero or more 'for or if clause'

In [3]:
ls = [1,2,3,4,5,6,7]

In [5]:
[i*i for i in ls if i%2==0]

[4, 16, 36]

# String Formatting

In [11]:
print('Hello')

Hello

In [12]:
def greet(name):
    return "Hello {}.welcome".format(name)

In [13]:
greet('aayu')

'Hello aayu.welcome'

# Iterables and Iterators

## Iterable- 

- list are iterable
-

In [14]:
D = [1,2,3,6,4,6]

In [32]:
D1 = iter(D)

In [33]:
D1

In [34]:
next(D1) # only after using next it will intialize in memory without it no process

1

In [35]:
for i in D1:
    print(i)

2
3
6
4
6

# Zip

In [1]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

In [3]:
type(x)

zip

In [4]:
print(x)

<zip object at 0x7f9a7ee6ab08>

In [5]:
print(tuple(x))

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))