# Hierarchical Indexing

- Hierarchical indexing is an important feature of pandas that enables you to have multiple (two or more) index levels on an axis

In [13]:
data = pd.Series(np.random.randn(9),index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [14]:
data

a  1    0.298046
   2   -0.747059
   3   -0.338297
b  1    0.342281
   3    0.580713
c  1   -2.400751
   2   -0.250212
d  2    0.493338
   3   -2.139064
dtype: float64

In [3]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [4]:
data['b']

1   -0.284663
3    1.023374
dtype: float64

In [5]:
data.loc[['b','d']]

b  1   -0.284663
   3    1.023374
d  2   -1.574981
   3    0.098926
dtype: float64

- Hierarchical indexing plays an important role in reshaping data and group-basedoperations like forming a pivot table. 
- For example, you could rearrange the data into a DataFrame using its unstack method

In [6]:
data.unstack()

          1         2         3
a  0.251093  0.886936 -0.697632
b -0.284663       NaN  1.023374
c -0.884066  0.561660       NaN
d       NaN -1.574981  0.098926

In [7]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),index=[['aayush', 'aayush', 'patidar', 'patidar'], [1, 2, 1, 2]],
columns=[['Indore', 'Indore', 'Pune'],['Green', 'Red', 'Green']])

In [8]:
frame

          Indore      Pune
           Green Red Green
aayush  1      0   1     2
        2      3   4     5
patidar 1      6   7     8
        2      9  10    11

In [10]:
frame['Indore']

           Green  Red
aayush  1      0    1
        2      3    4
patidar 1      6    7
        2      9   10

In [11]:
frame['Pune']

           Green
aayush  1      2
        2      5
patidar 1      8
        2     11

In [12]:
frame.unstack()

        Indore             Pune
         Green    Red     Green
             1  2   1   2     1   2
aayush       0  3   1   4     2   5
patidar      6  9   7  10     8  11

#### frame.swaplevel()
#### frame.sort_index()

In [15]:
frame2 = frame = pd.DataFrame({'a': range(7), 
                               'b': range(7, 0, -1),
                               'c': ['one', 'one', 'one', 'two', 'two','two', 'two'],
                               'd': [0, 1, 2, 0, 1, 2, 3]})

In [16]:
frame2

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [17]:
frame2.set_index(['c','d'])

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [18]:
# if we dont want to drop our coloums from place we follow
frame2.set_index(['c','d'],drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [19]:
frame2.reset_index()

   index  a  b    c  d
0      0  0  7  one  0
1      1  1  6  one  1
2      2  2  5  one  2
3      3  3  4  two  0
4      4  4  3  two  1
5      5  5  2  two  2
6      6  6  1  two  3

# Reshaping with Hierachical Indexing

In [20]:
data_new = pd.DataFrame(np.arange(6).reshape((2, 3)),
.....:
index=pd.Index(['Maths', 'Social'], name='subject'),
.....:
columns=pd.Index(['Low', 'Medium', 'High'],
.....:
name='Scale'))

In [21]:
data_new

Scale    Low  Medium  High
subject
Maths      0       1     2
Social     3       4     5

In [23]:
result = data_new.stack()

In [24]:
result

subject  Scale
Maths    Low       0
         Medium    1
         High      2
Social   Low       3
         Medium    4
         High      5
dtype: int64

In [25]:
result.unstack()

Scale    Low  Medium  High
subject
Maths      0       1     2
Social     3       4     5

In [29]:
result.unstack(0)

subject  Maths  Social
Scale
Low          0       3
Medium       1       4
High         2       5

In [30]:
result.unstack('Scale') #similar to zero

Scale    Low  Medium  High
subject
Maths      0       1     2
Social     3       4     5