# Long-Wide stacked

- A common way to store multiple time series in databases and CSV is in so-called long or stacked format

In [3]:
df = pd.read_csv('long_stack.csv',index_col=0)
df

       year  quarter    realgdp  realcons  ...  unemp      pop  infl  realint
0    1959.0      1.0   2710.349    1707.4  ...    5.8  177.146  0.00     0.00
1    1959.0      2.0   2778.801    1733.7  ...    5.1  177.830  2.34     0.74
2    1959.0      3.0   2775.488    1751.8  ...    5.3  178.657  2.74     1.09
3    1959.0      4.0   2785.204    1753.7  ...    5.6  179.386  0.27     4.06
4    1960.0      1.0   2847.699    1770.5  ...    5.2  180.007  2.31     1.19
5    1960.0      2.0   2834.390    1792.9  ...    5.2  180.671  0.14     2.55
6    1960.0      3.0   2839.022    1785.8  ...    5.6  181.528  2.70    -0.34
7    1960.0      4.0   2802.616    1788.2  ...    6.3  182.287  1.21     1.08
8    1961.0      1.0   2819.264    1787.7  ...    6.8  182.992 -0.40     2.77
9    1961.0      2.0   2872.005    1814.3  ...    7.0  183.691  1.47     0.81
10   1961.0      3.0   2918.419    1823.1  ...    6.8  184.524  0.80     1.52
11   1961.0      4.0   2977.830    1859.6  ...    6.2  185.242  0.80     1.80
12   1962.0      1.0   3031.241    1879.4  ...    5.6  185.874  2.26     0.47
13   1962.0      2.0   3064.709    1902.5  ...    5.5  186.538  0.13     2.65
14   1962.0      3.0   3093.047    1917.9  ...    5.6  187.323  2.11     0.67
15   1962.0      4.0   3100.563    1945.1  ...    5.5  188.013  0.79     2.08
16   1963.0      1.0   3141.087    1958.2  ...    5.8  188.580  0.53     2.38
17   1963.0      2.0   3180.447    1976.9  ...    5.7  189.242  2.75     0.29
18   1963.0      3.0   3240.332    2003.8  ...    5.5  190.028  0.78     2.60
19   1963.0      4.0   3264.967    2020.6  ...    5.6  190.668  2.46     1.06
20   1964.0      1.0   3338.246    2060.5  ...    5.5  191.245  0.13     3.38
21   1964.0      2.0   3376.587    2096.7  ...    5.2  191.889  0.90     2.57
22   1964.0      3.0   3422.469    2135.2  ...    5.0  192.631  1.29     2.25
23   1964.0      4.0   3431.957    2141.2  ...    5.0  193.223  2.05     1.71
24   1965.0      1.0   3516.251    2188.8  ...    4.9  193.709  1.28     2.65
25   1965.0      2.0   3563.960    2213.0  ...    4.7  194.303  2.54     1.30
26   1965.0      3.0   3636.285    2251.0  ...    4.4  194.997  0.89     3.04
27   1965.0      4.0   3724.014    2314.3  ...    4.1  195.539  2.90     1.46
28   1966.0      1.0   3815.423    2348.5  ...    3.9  195.999  4.99    -0.37
29   1966.0      2.0   3828.124    2354.5  ...    3.8  196.560  2.10     2.55
..      ...      ...        ...       ...  ...    ...      ...   ...      ...
173  2002.0      2.0  11538.770    7997.8  ...    5.8  288.028  1.56     0.14
174  2002.0      3.0  11596.430    8052.0  ...    5.7  288.783  2.66    -1.05
175  2002.0      4.0  11598.824    8080.6  ...    5.8  289.421  3.08    -1.88
176  2003.0      1.0  11645.819    8122.3  ...    5.9  290.019  1.31    -0.17
177  2003.0      2.0  11738.706    8197.8  ...    6.2  290.704  1.09    -0.13
178  2003.0      3.0  11935.461    8312.1  ...    6.1  291.449  2.60    -1.67
179  2003.0      4.0  12042.817    8358.0  ...    5.8  292.057  3.02    -2.11
180  2004.0      1.0  12127.623    8437.6  ...    5.7  292.635  2.35    -1.42
181  2004.0      2.0  12213.818    8483.2  ...    5.6  293.310  3.61    -2.41
182  2004.0      3.0  12303.533    8555.8  ...    5.4  294.066  3.58    -1.95
183  2004.0      4.0  12410.282    8654.2  ...    5.4  294.741  2.09     0.11
184  2005.0      1.0  12534.113    8719.0  ...    5.3  295.308  4.15    -1.46
185  2005.0      2.0  12587.535    8802.9  ...    5.1  295.994  1.85     1.16
186  2005.0      3.0  12683.153    8865.6  ...    5.0  296.770  9.14    -5.62
187  2005.0      4.0  12748.699    8888.5  ...    4.9  297.435  0.40     3.60
188  2006.0      1.0  12915.938    8986.6  ...    4.7  298.061  2.60     1.91
189  2006.0      2.0  12962.462    9035.0  ...    4.7  298.766  3.97     0.85
190  2006.0      3.0  12965.916    9090.7  ...    4.7  299.593 -1.58     6.48
191  2006.0      4.0  13060.679    9181.6  ...    4.4  300.320  3.30     1.62
192  2007.0      1.0  13099.901    9265.1  ...    4.5  300.977  4.58     0.36
193  2007.0      2.0  13203.977    9291.5  ...    4.5  301.714  2.75     1.97
194  2007.0      3.0  13321.109    9335.6  ...    4.7  302.509  3.45     0.55
195  2007.0      4.0  13391.249    9363.6  ...    4.8  303.204  6.38    -3.37
196  2008.0      1.0  13366.865    9349.6  ...    4.9  303.803  2.82    -1.26
197  2008.0      2.0  13415.266    9351.0  ...    5.4  304.483  8.53    -6.79
198  2008.0      3.0  13324.600    9267.7  ...    6.0  305.270 -3.16     4.33
199  2008.0      4.0  13141.920    9195.3  ...    6.9  305.952 -8.79     8.91
200  2009.0      1.0  12925.410    9209.2  ...    8.1  306.547  0.94    -0.71
201  2009.0      2.0  12901.504    9189.0  ...    9.2  307.226  3.37    -3.19
202  2009.0      3.0  12990.341    9256.0  ...    9.6  308.013  3.56    -3.44

[203 rows x 14 columns]

In [4]:
periods = pd.PeriodIndex(year=df.year,quarter=df.quarter,name='date')

In [5]:
periods

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', name='date', length=203, freq='Q-DEC')

In [6]:
col = pd.Index(['realgdp', 'infl', 'unemp'],name='item')

In [7]:
df = df.reindex(columns=col)

In [8]:
df

item    realgdp  infl  unemp
0      2710.349  0.00    5.8
1      2778.801  2.34    5.1
2      2775.488  2.74    5.3
3      2785.204  0.27    5.6
4      2847.699  2.31    5.2
5      2834.390  0.14    5.2
6      2839.022  2.70    5.6
7      2802.616  1.21    6.3
8      2819.264 -0.40    6.8
9      2872.005  1.47    7.0
10     2918.419  0.80    6.8
11     2977.830  0.80    6.2
12     3031.241  2.26    5.6
13     3064.709  0.13    5.5
14     3093.047  2.11    5.6
15     3100.563  0.79    5.5
16     3141.087  0.53    5.8
17     3180.447  2.75    5.7
18     3240.332  0.78    5.5
19     3264.967  2.46    5.6
20     3338.246  0.13    5.5
21     3376.587  0.90    5.2
22     3422.469  1.29    5.0
23     3431.957  2.05    5.0
24     3516.251  1.28    4.9
25     3563.960  2.54    4.7
26     3636.285  0.89    4.4
27     3724.014  2.90    4.1
28     3815.423  4.99    3.9
29     3828.124  2.10    3.8
..          ...   ...    ...
173   11538.770  1.56    5.8
174   11596.430  2.66    5.7
175   11598.824  3.08    5.8
176   11645.819  1.31    5.9
177   11738.706  1.09    6.2
178   11935.461  2.60    6.1
179   12042.817  3.02    5.8
180   12127.623  2.35    5.7
181   12213.818  3.61    5.6
182   12303.533  3.58    5.4
183   12410.282  2.09    5.4
184   12534.113  4.15    5.3
185   12587.535  1.85    5.1
186   12683.153  9.14    5.0
187   12748.699  0.40    4.9
188   12915.938  2.60    4.7
189   12962.462  3.97    4.7
190   12965.916 -1.58    4.7
191   13060.679  3.30    4.4
192   13099.901  4.58    4.5
193   13203.977  2.75    4.5
194   13321.109  3.45    4.7
195   13391.249  6.38    4.8
196   13366.865  2.82    4.9
197   13415.266  8.53    5.4
198   13324.600 -3.16    6.0
199   13141.920 -8.79    6.9
200   12925.410  0.94    8.1
201   12901.504  3.37    9.2
202   12990.341  3.56    9.6

[203 rows x 3 columns]

In [9]:
df.index = periods.to_timestamp('D','end')

In [10]:
df

item                             realgdp  infl  unemp
date
1959-03-31 23:59:59.999999999   2710.349  0.00    5.8
1959-06-30 23:59:59.999999999   2778.801  2.34    5.1
1959-09-30 23:59:59.999999999   2775.488  2.74    5.3
1959-12-31 23:59:59.999999999   2785.204  0.27    5.6
1960-03-31 23:59:59.999999999   2847.699  2.31    5.2
1960-06-30 23:59:59.999999999   2834.390  0.14    5.2
1960-09-30 23:59:59.999999999   2839.022  2.70    5.6
1960-12-31 23:59:59.999999999   2802.616  1.21    6.3
1961-03-31 23:59:59.999999999   2819.264 -0.40    6.8
1961-06-30 23:59:59.999999999   2872.005  1.47    7.0
1961-09-30 23:59:59.999999999   2918.419  0.80    6.8
1961-12-31 23:59:59.999999999   2977.830  0.80    6.2
1962-03-31 23:59:59.999999999   3031.241  2.26    5.6
1962-06-30 23:59:59.999999999   3064.709  0.13    5.5
1962-09-30 23:59:59.999999999   3093.047  2.11    5.6
1962-12-31 23:59:59.999999999   3100.563  0.79    5.5
1963-03-31 23:59:59.999999999   3141.087  0.53    5.8
1963-06-30 23:59:59.999999999   3180.447  2.75    5.7
1963-09-30 23:59:59.999999999   3240.332  0.78    5.5
1963-12-31 23:59:59.999999999   3264.967  2.46    5.6
1964-03-31 23:59:59.999999999   3338.246  0.13    5.5
1964-06-30 23:59:59.999999999   3376.587  0.90    5.2
1964-09-30 23:59:59.999999999   3422.469  1.29    5.0
1964-12-31 23:59:59.999999999   3431.957  2.05    5.0
1965-03-31 23:59:59.999999999   3516.251  1.28    4.9
1965-06-30 23:59:59.999999999   3563.960  2.54    4.7
1965-09-30 23:59:59.999999999   3636.285  0.89    4.4
1965-12-31 23:59:59.999999999   3724.014  2.90    4.1
1966-03-31 23:59:59.999999999   3815.423  4.99    3.9
1966-06-30 23:59:59.999999999   3828.124  2.10    3.8
...                                  ...   ...    ...
2002-06-30 23:59:59.999999999  11538.770  1.56    5.8
2002-09-30 23:59:59.999999999  11596.430  2.66    5.7
2002-12-31 23:59:59.999999999  11598.824  3.08    5.8
2003-03-31 23:59:59.999999999  11645.819  1.31    5.9
2003-06-30 23:59:59.999999999  11738.706  1.09    6.2
2003-09-30 23:59:59.999999999  11935.461  2.60    6.1
2003-12-31 23:59:59.999999999  12042.817  3.02    5.8
2004-03-31 23:59:59.999999999  12127.623  2.35    5.7
2004-06-30 23:59:59.999999999  12213.818  3.61    5.6
2004-09-30 23:59:59.999999999  12303.533  3.58    5.4
2004-12-31 23:59:59.999999999  12410.282  2.09    5.4
2005-03-31 23:59:59.999999999  12534.113  4.15    5.3
2005-06-30 23:59:59.999999999  12587.535  1.85    5.1
2005-09-30 23:59:59.999999999  12683.153  9.14    5.0
2005-12-31 23:59:59.999999999  12748.699  0.40    4.9
2006-03-31 23:59:59.999999999  12915.938  2.60    4.7
2006-06-30 23:59:59.999999999  12962.462  3.97    4.7
2006-09-30 23:59:59.999999999  12965.916 -1.58    4.7
2006-12-31 23:59:59.999999999  13060.679  3.30    4.4
2007-03-31 23:59:59.999999999  13099.901  4.58    4.5
2007-06-30 23:59:59.999999999  13203.977  2.75    4.5
2007-09-30 23:59:59.999999999  13321.109  3.45    4.7
2007-12-31 23:59:59.999999999  13391.249  6.38    4.8
2008-03-31 23:59:59.999999999  13366.865  2.82    4.9
2008-06-30 23:59:59.999999999  13415.266  8.53    5.4
2008-09-30 23:59:59.999999999  13324.600 -3.16    6.0
2008-12-31 23:59:59.999999999  13141.920 -8.79    6.9
2009-03-31 23:59:59.999999999  12925.410  0.94    8.1
2009-06-30 23:59:59.999999999  12901.504  3.37    9.2
2009-09-30 23:59:59.999999999  12990.341  3.56    9.6

[203 rows x 3 columns]

In [11]:
data = df.stack().reset_index().rename(columns={0:'value'})

In [13]:
data.head(15)

                            date     item     value
0  1959-03-31 23:59:59.999999999  realgdp  2710.349
1  1959-03-31 23:59:59.999999999     infl     0.000
2  1959-03-31 23:59:59.999999999    unemp     5.800
3  1959-06-30 23:59:59.999999999  realgdp  2778.801
4  1959-06-30 23:59:59.999999999     infl     2.340
5  1959-06-30 23:59:59.999999999    unemp     5.100
6  1959-09-30 23:59:59.999999999  realgdp  2775.488
7  1959-09-30 23:59:59.999999999     infl     2.740
8  1959-09-30 23:59:59.999999999    unemp     5.300
9  1959-12-31 23:59:59.999999999  realgdp  2785.204
10 1959-12-31 23:59:59.999999999     infl     0.270
11 1959-12-31 23:59:59.999999999    unemp     5.600
12 1960-03-31 23:59:59.999999999  realgdp  2847.699
13 1960-03-31 23:59:59.999999999     infl     2.310
14 1960-03-31 23:59:59.999999999    unemp     5.200

In [14]:
pivot = data.pivot('date','item','value')

In [15]:
pivot

item                           infl    realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00   2710.349    5.8
1959-06-30 23:59:59.999999999  2.34   2778.801    5.1
1959-09-30 23:59:59.999999999  2.74   2775.488    5.3
1959-12-31 23:59:59.999999999  0.27   2785.204    5.6
1960-03-31 23:59:59.999999999  2.31   2847.699    5.2
1960-06-30 23:59:59.999999999  0.14   2834.390    5.2
1960-09-30 23:59:59.999999999  2.70   2839.022    5.6
1960-12-31 23:59:59.999999999  1.21   2802.616    6.3
1961-03-31 23:59:59.999999999 -0.40   2819.264    6.8
1961-06-30 23:59:59.999999999  1.47   2872.005    7.0
1961-09-30 23:59:59.999999999  0.80   2918.419    6.8
1961-12-31 23:59:59.999999999  0.80   2977.830    6.2
1962-03-31 23:59:59.999999999  2.26   3031.241    5.6
1962-06-30 23:59:59.999999999  0.13   3064.709    5.5
1962-09-30 23:59:59.999999999  2.11   3093.047    5.6
1962-12-31 23:59:59.999999999  0.79   3100.563    5.5
1963-03-31 23:59:59.999999999  0.53   3141.087    5.8
1963-06-30 23:59:59.999999999  2.75   3180.447    5.7
1963-09-30 23:59:59.999999999  0.78   3240.332    5.5
1963-12-31 23:59:59.999999999  2.46   3264.967    5.6
1964-03-31 23:59:59.999999999  0.13   3338.246    5.5
1964-06-30 23:59:59.999999999  0.90   3376.587    5.2
1964-09-30 23:59:59.999999999  1.29   3422.469    5.0
1964-12-31 23:59:59.999999999  2.05   3431.957    5.0
1965-03-31 23:59:59.999999999  1.28   3516.251    4.9
1965-06-30 23:59:59.999999999  2.54   3563.960    4.7
1965-09-30 23:59:59.999999999  0.89   3636.285    4.4
1965-12-31 23:59:59.999999999  2.90   3724.014    4.1
1966-03-31 23:59:59.999999999  4.99   3815.423    3.9
1966-06-30 23:59:59.999999999  2.10   3828.124    3.8
...                             ...        ...    ...
2002-06-30 23:59:59.999999999  1.56  11538.770    5.8
2002-09-30 23:59:59.999999999  2.66  11596.430    5.7
2002-12-31 23:59:59.999999999  3.08  11598.824    5.8
2003-03-31 23:59:59.999999999  1.31  11645.819    5.9
2003-06-30 23:59:59.999999999  1.09  11738.706    6.2
2003-09-30 23:59:59.999999999  2.60  11935.461    6.1
2003-12-31 23:59:59.999999999  3.02  12042.817    5.8
2004-03-31 23:59:59.999999999  2.35  12127.623    5.7
2004-06-30 23:59:59.999999999  3.61  12213.818    5.6
2004-09-30 23:59:59.999999999  3.58  12303.533    5.4
2004-12-31 23:59:59.999999999  2.09  12410.282    5.4
2005-03-31 23:59:59.999999999  4.15  12534.113    5.3
2005-06-30 23:59:59.999999999  1.85  12587.535    5.1
2005-09-30 23:59:59.999999999  9.14  12683.153    5.0
2005-12-31 23:59:59.999999999  0.40  12748.699    4.9
2006-03-31 23:59:59.999999999  2.60  12915.938    4.7
2006-06-30 23:59:59.999999999  3.97  12962.462    4.7
2006-09-30 23:59:59.999999999 -1.58  12965.916    4.7
2006-12-31 23:59:59.999999999  3.30  13060.679    4.4
2007-03-31 23:59:59.999999999  4.58  13099.901    4.5
2007-06-30 23:59:59.999999999  2.75  13203.977    4.5
2007-09-30 23:59:59.999999999  3.45  13321.109    4.7
2007-12-31 23:59:59.999999999  6.38  13391.249    4.8
2008-03-31 23:59:59.999999999  2.82  13366.865    4.9
2008-06-30 23:59:59.999999999  8.53  13415.266    5.4
2008-09-30 23:59:59.999999999 -3.16  13324.600    6.0
2008-12-31 23:59:59.999999999 -8.79  13141.920    6.9
2009-03-31 23:59:59.999999999  0.94  12925.410    8.1
2009-06-30 23:59:59.999999999  3.37  12901.504    9.2
2009-09-30 23:59:59.999999999  3.56  12990.341    9.6

[203 rows x 3 columns]

# Wide-Long Formate

In [16]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
.....:
'A': [1, 2, 3],
.....:
'B': [4, 5, 6],
.....:
'C': [7, 8, 9]})

In [17]:
df

   key  A  B  C
0  foo  1  4  7
1  bar  2  5  8
2  baz  3  6  9

In [18]:
melted = pd.melt(df,['key'])

In [19]:
melted

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
6  foo        C      7
7  bar        C      8
8  baz        C      9

In [20]:
reshaped = melted.pivot('key','variable','value')

In [21]:
reshaped

variable  A  B  C
key
bar       2  5  8
baz       3  6  9
foo       1  4  7

In [22]:
reshaped.reset_index()

variable  key  A  B  C
0         bar  2  5  8
1         baz  3  6  9
2         foo  1  4  7

In [23]:
pd.melt(df, id_vars=['key'], value_vars=['A', 'B'])

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6