In [1]:
values = pd.Series(['apple', 'orange', 'apple',
....:
'apple'] * 2)

In [4]:
values.value_counts()

apple     6
orange    2
dtype: int64

In [5]:
values.unique()

array(['apple', 'orange'], dtype=object)

# Categorical

In [7]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [8]:
N = len(fruits)

In [9]:
df = pd.DataFrame({'fruit': fruits,
....:
'basket_id': np.arange(N),
....:
'count': np.random.randint(3, 15, size=N),
....:
'weight': np.random.uniform(0, 4, size=N)},
....:
columns=['basket_id', 'fruit', 'count', 'weight'])

In [10]:
df

   basket_id   fruit  count    weight
0          0   apple     10  3.826205
1          1  orange     14  1.247845
2          2   apple      7  0.152253
3          3   apple      3  2.636175
4          4   apple      7  2.436415
5          5  orange      9  3.014646
6          6   apple      5  1.458934
7          7   apple      9  0.620201

In [11]:
# we want to print the categorical variable

In [12]:
fruit_cat = df['fruit'].astype('category')

In [13]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [15]:
c = fruit_cat.values

In [18]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [19]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)