In [1]:
df = pd.read_csv('chapter6.txt')

In [2]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
pd.read_table('chapter6.txt',sep=',')

/home/ind/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_csv('chapter6.txt',header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [5]:
# Lets make some changes so that we can read it in better formate

In [6]:
pd.read_csv('chapter6.txt',names=['a', 'b', 'c', 'd', 'message'],index_col='message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

- pd.options.display.max_rows = 10

In [7]:
df2 = pd.read_csv('chapter6.csv')

In [20]:
df2.shape

(10000, 6)

In [9]:
df2.head()

   Unnamed: 0       one       two     three      four key
0           0  0.467976 -0.038649 -0.295344 -1.824726   L
1           1 -0.358893  1.404453  0.704965 -0.200638   B
2           2 -0.501840  0.659254 -0.421691 -0.057688   G
3           3  0.204886  1.074134  1.388361 -0.982404   R
4           4  0.354628 -0.133116  0.283763 -0.837063   Q

In [18]:
df2['key'].value_counts()

E    368
X    364
L    346
O    343
Q    340
M    338
J    337
F    335
K    334
H    330
V    328
I    327
U    326
P    324
A    320
D    320
R    318
Y    314
S    308
G    308
N    306
W    305
T    304
B    302
Z    288
C    286
4    171
6    166
7    164
8    162
3    162
5    157
2    152
0    151
9    150
1    146
Name: key, dtype: int64

# Chunksize - to read csv into pieces

In [10]:
chunker = pd.read_csv('chapter6.csv',chunksize=1000)

In [13]:
chunker  #The TextParser object returned by read_csv allows you to iterate over the parts of the file according to the chunksize

In [15]:
data_to_read_from_chunk = pd.Series([])

for i in chunker:
    data_to_read_from_chunk = data_to_read_from_chunk.add(i['key'].value_counts(),fill_value=0)

In [17]:
data_to_read_from_chunk.sort_values(ascending=False)

E    336.0
X    327.0
L    315.0
M    309.0
K    303.0
Q    301.0
O    299.0
P    299.0
J    298.0
F    295.0
V    293.0
U    293.0
H    291.0
A    290.0
I    290.0
D    288.0
Y    286.0
R    280.0
N    279.0
B    277.0
T    277.0
W    274.0
G    270.0
Z    262.0
S    260.0
C    259.0
4    154.0
8    149.0
6    149.0
5    148.0
7    147.0
3    147.0
0    142.0
2    141.0
9    139.0
1    133.0
dtype: float64

#### data.to_csv(sys.stdout, sep='|')

Here stdout will show result in console

# Writing in CSV

In [21]:
date = pd.date_range('1/1/2020',periods=7)

In [22]:
date

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [23]:
t = pd.Series(np.arange(7),index=date)

In [25]:
df3=t.to_csv('Chapter6date.csv')

/home/ind/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [27]:
df3 = pd.read_csv('Chapter6date.csv')

In [28]:
df3

   2020-01-01  0
0  2020-01-02  1
1  2020-01-03  2
2  2020-01-04  3
3  2020-01-05  4
4  2020-01-06  5
5  2020-01-07  6

# jASON data

JSON (short for JavaScript Object Notation) has become one of the standard formats
for sending data by HTTP request between web browsers and other applications. It is
a much more free-form data format than a tabular text form like CSV.

# HDF5 Formate
- HDF5 is a well-regarded file format intended for storing large quantities of scientific array data
- Each HDF5 file can store multiple datasets and support‐ ing metadata. 
- Compared with simpler formats, HDF5 supports on-the-fly compres‐ sion with a variety of compression modes, enabling data with repeated patterns to be stored more efficiently. 
- HDF5 can be a good choice for working with very large data‐ sets that don’t fit into memory, as you can efficiently read and write small sections of much larger arrays.

In [40]:
data = pd.DataFrame({'a':np.random.randn(100)})

In [41]:
store = pd.HDFStore('chapter6.h5')

In [39]:
data.to_hdf('chapterr6.h5','obj2',format='table')

In [43]:
pd.read_hdf('chapterr6.h5','obj2',where=['index <= 6'])

          a
0  0.209288
1  0.492682
2  2.311930
3 -0.451696
4  0.501845
5 -2.038132
6  1.639915