# Pandas
- is open source
- BSD-licnsed Lib provide high Performance
- easy to use
- used is data analysis

In [1]:
import pandas as pd 
import numpy as np

## DataFrame

In [2]:
df = pd.DataFrame(np.arange(0,20).reshape(4,5),index=['R1','R2','R3','R5'],columns=['C1','C2','C3','C4','C5'])

In [3]:
df.head()

    C1  C2  C3  C4  C5
R1   0   1   2   3   4
R2   5   6   7   8   9
R3  10  11  12  13  14
R5  15  16  17  18  19

## loc and iloc

- .loc--> location
- .iloc-->index location

In [4]:
df.loc['R1']

C1    0
C2    1
C3    2
C4    3
C5    4
Name: R1, dtype: int64

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
type(df.loc['R1'])

pandas.core.series.Series

series are any one row or any one coloums

In [7]:
df.iloc[:,:]

    C1  C2  C3  C4  C5
R1   0   1   2   3   4
R2   5   6   7   8   9
R3  10  11  12  13  14
R5  15  16  17  18  19

In [8]:
df.iloc[2:4,2:]

    C3  C4  C5
R3  12  13  14
R5  17  18  19

In [9]:
type(df.iloc[2:4,2:])

pandas.core.frame.DataFrame

In [10]:
#  to convert into array
j=df.iloc[:,1:].values
j

array([[ 1,  2,  3,  4],
       [ 6,  7,  8,  9],
       [11, 12, 13, 14],
       [16, 17, 18, 19]])

In [11]:
type(j)

numpy.ndarray

## df.isnull

In [12]:
df.isnull()

       C1     C2     C3     C4     C5
R1  False  False  False  False  False
R2  False  False  False  False  False
R3  False  False  False  False  False
R5  False  False  False  False  False

In [13]:
df.isnull().sum()

C1    0
C2    0
C3    0
C4    0
C5    0
dtype: int64

## value_counts()

In [14]:
df['C1'].value_counts()

15    1
5     1
10    1
0     1
Name: C1, dtype: int64

In [15]:
df['C1'].unique()

array([ 0,  5, 10, 15])

## Reading csv file

In [18]:
df1  = pd.read_csv('whitewine.csv')