# Basics of Python

In [1]:
a = 10 * 'H'

In [2]:
type(a)

str

In [3]:
type(True)

bool

## Variable Assigment

In [4]:
b = 10

In [5]:
type(b)

int

In [6]:
print("Hello")

Hello

## Format

In [7]:
a = 'AAyush'
b = 'Patidar'
print('name {} and surname {}'.format(a,b))

name AAyush and surname Patidar

In [8]:
print('name {first} and surname {last}'.format(last=b,first=a))

name AAyush and surname Patidar

## Len

In [9]:
len(a)

6

In [10]:
len(b)

7

## List 
Are Mutable
content any elemnt

In [11]:
c = []

In [12]:
len(c)

0

In [13]:
type(c)

list

In [14]:
d = list()

In [15]:
type(d)

list

## Append

In [16]:
d = [1,2,3,4,5]

In [17]:
type(d)

list

In [18]:
d.append('Aayush')

In [19]:
d

[1, 2, 3, 4, 5, 'Aayush']

In [20]:
d.append(['Harshit','Name']) #Nested list

In [21]:
d

[1, 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name']]

## Indexing

In [22]:
d[0]

1

In [23]:
d[4]

5

In [24]:
d[:]

[1, 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name']]

In [25]:
d[1:]

[2, 3, 4, 5, 'Aayush', ['Harshit', 'Name']]

In [26]:
d[2:5]

[3, 4, 5]

In [27]:
d[-1]

['Harshit', 'Name']

In [28]:
d[-5:-1]

[3, 4, 5, 'Aayush']

## insert

- here parameters are index number and value we want to assign

In [29]:
d.insert(1,'Smart')

In [30]:
d

[1, 'Smart', 2, 3, 4, 5, 'Aayush', ['Harshit', 'Name']]

## Extend

- extend will add elments to list

In [33]:
d.extend([456,'Somakhedi'])

In [34]:
d

[1,
 'Smart',
 2,
 3,
 4,
 5,
 'Aayush',
 ['Harshit', 'Name'],
 456,
 'Somakhedi',
 456,
 'Somakhedi']

## pop-count-min-max-sum

In [51]:
d.pop(-1)

456

In [52]:
d

[1,
 'Smart',
 2,
 3,
 4,
 5,
 'Aayush',
 ['Harshit', 'Name'],
 456,
 'Somakhedi',
 'smart',
 'Smart']

In [53]:
len(d)

12

In [54]:
d.count(1) #means 1 is present 1 time

1

In [55]:
d.insert(-1,'Smart')

In [56]:
d

[1,
 'Smart',
 2,
 3,
 4,
 5,
 'Aayush',
 ['Harshit', 'Name'],
 456,
 'Somakhedi',
 'smart',
 'Smart',
 'Smart']

In [57]:
d.count('Smart')

3

In [58]:
i = [1,58,69,7,56]

In [59]:
min(i)

1

In [60]:
max(i)

69

In [61]:
sum(i)

191

In [63]:
i*2 #it means i will double the elemnts

[1, 58, 69, 7, 56, 1, 58, 69, 7, 56]

## Sets
- iterable
- mutable
- no duplicate elemets
- this based on hash table
- ste dose not support indexing

In [64]:
q = set()

In [66]:
print(type(q))

<class 'set'>

In [67]:
q = {1,2,3,4,3,2,5,6,7,5}

In [68]:
q

{1, 2, 3, 4, 5, 6, 7}

In [70]:
q.add('aayush')

In [71]:
q

{1, 2, 3, 4, 5, 6, 7, 'aayush'}

## Dictionaries
- changeable
- indexed
- use {} 
- assign using key value pair
- if we give same key with another name it will overwrite it(just remember will see it)

In [73]:
dic= {}

In [74]:
print(type(dic))

<class 'dict'>

In [75]:
dic= {'Name':'Aayush','Surname':'Patidar','Age':22}

In [76]:
dic

{'Name': 'Aayush', 'Surname': 'Patidar', 'Age': 22}

In [78]:
dic.keys()

dict_keys(['Name', 'Surname', 'Age'])

In [79]:
dic.values()

dict_values(['Aayush', 'Patidar', 22])

 ## For loop

In [84]:
for i in dic:  
    print(i)

Name
Surname
Age

In [86]:
for i in dic.values():
    print(i)

Aayush
Patidar
22

In [87]:
for i in dic.items():
    print(i)

('Name', 'Aayush')
('Surname', 'Patidar')
('Age', 22)

In [88]:
# to add new key value pair
dic['place'] = 'Somakhedi'

In [89]:
dic

{'Name': 'Aayush', 'Surname': 'Patidar', 'Age': 22, 'place': 'Somakhedi'}

In [90]:
#if we take same value of key
dic['place'] = 'Pune'

In [91]:
dic

{'Name': 'Aayush', 'Surname': 'Patidar', 'Age': 22, 'place': 'Pune'}

## Neested Dictionary

In [95]:
dic1 = {'AAyush':'HArshit'}
dic2 = {'Patidar':'Pati'}
nested_dic = {'name':dic1,'Surname':dic2}

In [96]:
nested_dic

{'name': {'AAyush': 'HArshit'}, 'Surname': {'Patidar': 'Pati'}}

In [102]:
nested_dic['name']['AAyush']

'HArshit'

## Tuples
- cant change
- immutable
- () round 
- tuple assig. not change but hole tuple can be change
- we cant perform operation it we can only perform replacemnet

In [103]:
tup =tuple()

In [104]:
type(tup)

tuple

In [105]:
tup = ('AAyush','Harshit')

In [106]:
tup[0]

'AAyush'

In [107]:
tup[0] = 'Patidar'

TypeError: 'tuple' object does not support item assignment

In [108]:
tup = ('Patidar')

In [109]:
tup

'Patidar'

# Functions

In [ ]:
n = 24

if num%2 == 0:
    print('Even')